<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-header bg-success text-white text-center">
        <h4>Create Student Account</h4>
      </div>
      <div class="card-body">
        <form
          action="/register/student"
          method="POST"
        >
          <div class="row">
            <%
              var stuFields = [
                { lbl: 'Full Name', nm: 'name', tp: 'text', w: 6, ph: '', isSelect: false },
                { lbl: 'PRN Number', nm: 'PRN', tp: 'text', w: 6, ph: '', isSelect: false },
                { lbl: 'Email', nm: 'email', tp: 'email', w: 6, ph: '', isSelect: false },
                { lbl: 'Password', nm: 'password', tp: 'password', w: 6, ph: '', isSelect: false },
                { lbl: 'Branch', nm: 'branch', tp: 'text', w: 4, ph: 'e.g. Computer Science', isSelect: false },
                { lbl: 'Semester', nm: 'semester', tp: '', w: 4, ph: '', isSelect: true },
                { lbl: 'Division', nm: 'division', tp: 'text', w: 4, ph: 'e.g. A', isSelect: false }
              ];
              var sfi = 0;
              while (sfi < stuFields.length) {
                var sf = stuFields[sfi];
            %>
            <div class="col-md-<%= sf.w %> mb-3">
              <label class="form-label"><%= sf.lbl %></label>
              <% if (sf.isSelect) { %>
                <select
                  name="<%= sf.nm %>"
                  class="form-select"
                  required
                >
                  <% var sv = 1; while (sv <= 8) { %>
                    <option value="<%= sv %>"><%= sv %></option>
                  <% sv = sv + 1; } %>
                </select>
              <% } else { %>
                <input
                  name="<%= sf.nm %>"
                  type="<%= sf.tp %>"
                  class="form-control"
                  <% if (sf.ph.length > 0) { %>placeholder="<%= sf.ph %>"<% } %>
                  required
                >
              <% } %>
            </div>
            <% sfi = sfi + 1; } %>
          </div>
          <button
            type="submit"
            class="btn btn-success w-100"
          >Create Account</button>
        </form>
        <div class="mt-3 text-center">
          <a href="/login">Already registered? Sign in here</a>
        </div>
      </div>
    </div>
  </div>
</div>
